[Unit]
Description=PID Meta Resolver.
After=network.target remote-fs.target nss-lookup.target
Documentation=https://github.com/ARGOeu/fc4eosc-PIDMR-api/tree/devel

[Service]
#Type=simple
User={{ pidmr_user }}
Group={{ pidmr_group }}
WorkingDirectory={{ pidmr_root_dir }}
ExecStart=/usr/bin/java -jar {{ pidmr_root_dir }}/pidmr.jar
SyslogIdentifier=pidmr
Restart=on-failure
RestartSec=5s
SuccessExitStatus=143
#KillMode=mixed

[Install]
WantedBy=multi-user.target
#Alias=pidmr.service
#Alias=pidmrd.service
