[server]
bindip = ""
port = {{ argo_web_api_port }}
maxprocs = 4
cache = false
lrucache = 700000000
gzip = true
cert = /var/www/argo-web-api/certs/localhost.crt
privkey = /var/www/argo-web-api/certs/localhost.key
reqsizelimit = 1073741824
enablecors = {{ cors_support }}

[mongodb]
host = "127.0.0.1"
port = 27017
db = "argo_core"
