use {{argo_core}}
db.roles.drop()
db.roles.insert([
{ "resource" : "latest.get", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "reports.get", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "reports.list", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "reports.create", "roles" : [ "admin", "editor" ] },
{ "resource" : "reports.delete", "roles" : [ "admin", "editor" ] },
{ "resource" : "reports.update", "roles" : [ "admin", "editor" ] },
{ "resource" : "metric_profiles.get", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "metric_profiles.list", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "metric_profiles.create", "roles" : [ "admin", "editor" ] },
{ "resource" : "metric_profiles.delete", "roles" : [ "admin", "editor" ] },
{ "resource" : "metric_profiles.update", "roles" : [ "admin", "editor" ] },
{ "resource" : "operations_profiles.get", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "operations_profiles.list", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "operations_profiles.create", "roles" : [ "admin", "editor" ] },
{ "resource" : "operations_profiles.delete", "roles" : [ "admin", "editor" ] },
{ "resource" : "operations_profiles.update", "roles" : [ "admin", "editor" ] },
{ "resource" : "aggregation_profiles.get", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "aggregation_profiles.list", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "aggregation_profiles.create", "roles" : [ "admin", "editor" ] },
{ "resource" : "aggregation_profiles.delete", "roles" : [ "admin", "editor" ] },
{ "resource" : "aggregation_profiles.update", "roles" : [ "admin", "editor" ] },
{ "resource" : "results.get", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "results.list", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "status.get", "roles" : [ "admin", "editor", "viewer", "status_viewer" ] },
{ "resource" : "status.list", "roles" : [ "admin", "editor", "viewer", "status_viewer" ] },
{ "resource" : "factors.list", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "tenants.get", "roles" : [ "super_admin" ] },
{ "resource" : "tenants.list", "roles" : [ "super_admin" ] },
{ "resource" : "tenants.create", "roles" : [ "super_admin" ] },
{ "resource" : "tenants.delete", "roles" : [ "super_admin" ] },
{ "resource" : "tenants.update", "roles" : [ "super_admin" ] },
{ "resource" : "metric_result.get", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "recomputations.list", "roles" : [ "admin", "editor" ] },
{ "resource" : "recomputations.get", "roles" : [ "admin", "editor" ] },
{ "resource" : "recomputations.submit", "roles" : [ "admin", "editor" ] },
{ "resource" : "metricResult.get", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "aggregationProfiles.list", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "aggregationProfiles.get", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "aggregationProfiles.create", "roles" : [ "admin", "editor" ] },
{ "resource" : "aggregationProfiles.delete", "roles" : [ "admin", "editor" ] },
{ "resource" : "aggregationProfiles.update", "roles" : [ "admin", "editor" ] },
{ "resource" : "operationsProfiles.list", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "operationsProfiles.get", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "operationsProfiles.update", "roles" : [ "admin", "editor" ] },
{ "resource" : "operationsProfiles.delete", "roles" : [ "admin", "editor" ] },
{ "resource" : "operationsProfiles.create", "roles" : [ "admin", "editor" ] },
{ "resource" : "metricProfiles.create", "roles" : [ "admin", "editor" ] },
{ "resource" : "metricProfiles.update", "roles" : [ "admin", "editor" ] },
{ "resource" : "metricProfiles.delete", "roles" : [ "admin", "editor" ] },
{ "resource" : "metricProfiles.list", "roles" : [ "admin", "editor", "viewer" ] },
{ "resource" : "metricProfiles.get", "roles" : [ "admin", "editor", "viewer" ] }
])
