[Unit]
Description=ARGO Accounting.
After=network.target remote-fs.target nss-lookup.target
Documentation=https://github.com/ARGOeu/ARGO-accounting/tree/devel

[Service]
#Type=simple
User={{ accounting_user }}
Group={{ accounting_group }}
WorkingDirectory={{ accounting_root_dir }}
ExecStart=/usr/bin/java -jar {{ accounting_root_dir }}/accounting.jar
SyslogIdentifier=accounting
Restart=on-failure
RestartSec=5s
SuccessExitStatus=143
#KillMode=mixed
Environment="QUARKUS_MONGODB_CONNECTION_STRING=mongodb://127.0.0.1:27017"
Environment="UNIT_TYPES_FILE={{ accounting_conf_dir }}/unit_type.conf"
Environment="METRIC_TYPES_FILE={{ accounting_conf_dir }}/metric_type.conf"
Environment="SERVER_URL=https://{{ inventory_hostname }}"

Environment="QUARKUS_OIDC_AUTH_SERVER_URL={{ quarkus_oidc.auth_server_url }}"
Environment="QUARKUS_OIDC_CREDENTIALS_SECRET={{ quarkus_oidc.credentials_secret }}"
Environment="QUARKUS_OIDC_CLIENT_ID={{ quarkus_oidc.client_id }}"

Environment="KEYCLOAK_SERVER_URL={{ keycloak_server.url }}"
Environment="KEYCLOAK_SERVER_REALM={{ keycloak_server.realm }}"
Environment="KEYCLOAK_SERVER_CLIENT_ID={{ keycloak_server.client_id }}"

Environment="DISABLE_AUTHORIZATION={{ quarkus_authorization | lower }}"


[Install]
WantedBy=multi-user.target
#Alias=accounting.service
#Alias=accountingd.service
