use {{ams_store_db}}
db.roles.drop()
db.roles.insert([
{"resource" : "ams:metrics", "roles": ["service_admin", "metrics_viewer"]},
{"resource" : "ams:dailyMessageAverage", "roles": ["service_admin", "metrics_viewer"]},
{"resource" : "users:byUUID", "roles" : [ "service_admin", "argo_api_authn"] },
{"resource" : "users:byToken", "roles" : [ "service_admin", "push_worker" ] },
{"resource" : "users:list", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "users:show", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "users:create", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "users:update", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "users:refreshToken", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "users:delete", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "projects:showUser", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "projects:createUser", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "projects:metrics", "roles" : [ "service_admin", "project_admin"] },
{"resource" : "projects:list", "roles" : [ "service_admin"] },
{"resource" : "projects:create", "roles" : [ "service_admin" ] },
{"resource" : "projects:show", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "projects:update", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "projects:delete", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "topics:list", "roles" : ["service_admin", "project_admin", "publisher" ] },
{"resource" : "topics:publish", "roles" : [ "service_admin","project_admin", "publisher" ] },
{"resource" : "topics:metrics", "roles" : [ "service_admin", "project_admin", "publisher" ] },
{"resource" : "topics:list", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "topics:show", "roles" : [ "service_admin", "project_admin", "publisher" ] },
{"resource" : "topics:create", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "topics:delete", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "topics:acl", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "topics:modifyAcl", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "subscriptions:create", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "subscriptions:delete", "roles" : ["service_admin", "project_admin" ] },
{"resource" : "subscriptions:list", "roles" : [ "service_admin", "project_admin", "consumer" ] },
{"resource" : "subscriptions:listByTopic", "roles" : [ "service_admin", "project_admin"] },
{"resource" : "subscriptions:acknowledge", "roles" : [ "service_admin", "project_admin", "consumer", "push_worker" ] },
{"resource" : "subscriptions:show", "roles" : [ "service_admin", "project_admin", "consumer", "push_worker" ] },
{"resource" : "subscriptions:pull", "roles" : [ "service_admin", "project_admin", "consumer", "push_worker" ] },
{"resource" : "subscriptions:offsets", "roles" : [ "service_admin", "project_admin", "consumer" ] },
{"resource" : "subscriptions:modifyOffset", "roles" : [ "service_admin", "project_admin", "consumer" ] },
{"resource" : "subscriptions:timeToOffset", "roles" : [ "service_admin", "project_admin", "consumer" ] },
{"resource" : "subscriptions:metrics", "roles" : [ "service_admin", "project_admin", "consumer" ] },
{"resource" : "subscriptions:acl", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "subscriptions:modifyAcl", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "subscriptions:verifyPushEndpoint", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "subscriptions:modifyPushConfig", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "subscriptions:modifyAckDeadline", "roles" : [ "service_admin", "project_admin", "consumer" ] },
{"resource" : "ams:metrics", "roles" : [ "service_admin", "project_admin"] },
{"resource" : "schemas:create", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "schemas:show", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "schemas:update", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "schemas:delete", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "schemas:list", "roles" : [ "service_admin", "project_admin" ] },
{"resource" : "schemas:validateMessage", "roles" : [ "service_admin", "project_admin" ] }
])
