{% for host in groups[mongo_cluster_group] %}

{% if hostvars[host]["is_arbiter"] | default(is_arbiter) %}

rs.addArb("{{hostvars[host]['private']['hostname']}}:{{mongo_port}}")

{% else %}

rs.add("{{hostvars[host]['private']['hostname']}}:{{mongo_port}}")

{% endif %}

{% endfor %}
