// Open Database
use argo_msg
// Create tenants



{%- if ingestion_users is defined -%}

{%- for user in ingestion_users -%}


// Create tenant admin user
db.users.update({"name" : "{{user.username}}"},{ "name":"{{user.username}}","email" : "{{user.email}}", "project" : "{{user.tenant}}", "token" : "{{user.key}}", "roles" : ["{{user.role}}"]},{"upsert":"true"})
// Create tenant metric_data topic
db.topics.update({"name" : "metric_data","project":"{{user.tenant}}"},{"name":"metric_data","project":"{{user.tenant}}" }  ,{"upsert":"true"})
// Create tenant sync_data topic
db.topics.update({"name" : "sync_data","project":"{{user.tenant}}"},{"name":"sync_data","project":"{{user.tenant}}" }  ,{"upsert":"true"})
// ---


{%- endfor -%}


{%- endif -%}
