[Unit]
Description=PCC API.
After=network.target remote-fs.target nss-lookup.target
Documentation=https://github.com/ARGOeu/pcc-api/tree/devel

[Service]
#Type=simple
User={{ pcc_api_user }}
Group={{ pcc_api_group }}
WorkingDirectory={{ pcc_api_root_dir }}
ExecStart=/usr/bin/java -jar {{ pcc_api_root_dir }}/pcc-api.jar
Restart=on-failure
RestartSec=5s
SuccessExitStatus=143
#KillMode=mixed
Environment="QUARKUS_DATASOURCE_JDBC_URL=jdbc:mysql://localhost:3306/pccdb"
Environment="QUARKUS_FLYWAY_SCHEMAS={{mysql.db}}"
Environment="QUARKUS_DATASOURCE_USERNAME={{mysql.user}}"
Environment="QUARKUS_DATASOURCE_PASSWORD={{mysql.password}}"

[Install]
WantedBy=multi-user.target
#Alias=pcc_api.service
#Alias=pcc_apid.service