
#######################################
# HIVE config
######################################
[hive]
# hive tables to delete data from
hiveTables: raw_data
# hive date field name for each table
hiveDateFields: dates
# hive date field format
hiveDateFormat: %Y%m%d
#hive retention
hiveRetentionInDays: {{ hive_retention_in_days }}

########################################
# MongoDB config
######################################
[mongo]
# MongoDB server
mongoDBServer: mongoDBhost
# MongoDB service port
mongoDBServerPort: 27017
# MongoDB database
mongoDBDatabase: AR
# MongoDB tables to delete data from
mongoDBTables: sites;sfreports;status_endpoints;status_metric;status_services;status_sites
# MongoDB date field name for each table
mongoDBDateFields: dt;dt;di;di;di;di
# MongoDB date field format for each table
mongoDBDateFieldTypes: int;int;int;int;int;int
# MongoDB date field format
mongoDBDateFormat: %Y%m%d
# MongoDB retention
mongoDBRetentionInDays: {{ mongo_retention_in_days }}


#######################################
# Files config
#######################################
[file]
fileTemplate_1:  /var/lib/ar-consumer/ar-consumer_log_%Y_%m_%d.txt
fileTemplate_2:  /var/lib/ar-consumer/ar-consumer_log_%Y_%m_%d.avro
fileTemplate_3:  /var/lib/ar-consumer/ar-consumer_error_%Y_%m_%d.txt
fileTemplate_4:  /var/lib/argo-connectors/downtimes_%Y-%m-%d.out
fileTemplate_5:  /var/lib/argo-connectors/downtimes_%Y-%m-%d.avro
fileTemplate_6:  /var/lib/argo-connectors/poem_sync_%Y_%m_%d.out
fileTemplate_7:  /var/lib/argo-connectors/poem_sync_%Y_%m_%d.avro
fileTemplate_8:  /var/lib/argo-connectors/prefilter_%Y_%m_%d.out
fileTemplate_9:  /var/lib/argo-connectors/prefilter_%Y_%m_%d.avro
fileTemplate_10: /var/lib/argo-connectors/hepspec_sync_%Y_%m_%d.out
fileTemplate_11: /var/lib/argo-connectors/weights_sync_%Y_%m_%d.avro
fileTemplate_12: /var/lib/argo-connectors/sites_%Y_%m_%d.out
fileTemplate_13: /var/lib/argo-connectors/sites_%Y_%m_%d.avro
fileTemplate_14: /var/lib/argo-connectors/groups_%Y_%m_%d.out
fileTemplate_15: /var/lib/argo-connectors/groups_%Y_%m_%d.avro
fileRetentionInDays: {{ files_retention_in_days }}
