#!/bin/bash
# argo-{{ item.key | lower }}-consumer daemon
# chkconfig: 345 20 80
# description: argo-{{ item.key | lower }}-consumer daemon
# processname: argo-{{ item.key | lower }}-consumer

. /etc/rc.d/init.d/functions
PROG_NAME="argo-{{ item.key | lower }}-consumer"
CONFIG="/etc/argo-{{ item.key | lower }}-consumer/consumer.conf"
DAEMON_PATH="/usr/bin/argo-{{ item.key | lower }}{% if item.key|lower != "egi" %}-wrapper{% endif %}-consumer.py"

case "$1" in
start)
        echo -n $"Starting $PROG_NAME: "
        daemon $DAEMON_PATH --start --config $CONFIG
        echo
;;
status)
        $DAEMON_PATH --status --config $CONFIG
;;
stop)
        echo -n $"Stopping $PROG_NAME: "
        daemon $DAEMON_PATH --stop --config $CONFIG
        echo
;;
restart)
        echo -n $"Restarting $PROG_NAME: "
        daemon $DAEMON_PATH --restart --config $CONFIG
        echo
;;
*)
        echo "Usage: $0 {status|start|stop|restart}"
        exit 1
esac

