[CUSTOMER_{{item.key|upper}}]
Name = {{item.key|upper}}
OutputDir = {{item.value.outputdir}}
AmsProject = {{item.value.AmsProject}}
AmsToken = {{item.value.AmsToken}} 
{% if item.value.jobs_all is defined %}
Jobs = {{ item.value.jobs_all }}
{% endif %}

{% if item.value.jobs_details is defined %}
{% for job in item.value.jobs_details %}
[{{job.name}}]
Dirname = {{job.Directory}}
Profiles = {{job.Profiles}}
TopoType = {{job.TopoType}}
TopoFeed = {{job.TopoFeed}}
TopoFetchType = {{job.TopoFetchType}}
TopoSelectGroupOfEndpoints = {{job.TopoSelectGroupOfEndpoints}}
TopoSelectGroupOfGroups = {{job.TopoSelectGroupOfGroups}}
DowntimesFeed = {{job.DowntimesFeed}}

{% endfor %}
{% endif %}
