[CUSTOMER_{{item.key|upper}}]
Name = {{item.key|upper}}
OutputDir = {{item.value.outputdir}}
AuthenticationPoemToken = {{item.value.AuthenticationPoemToken}}
{% if item.value.HTTPAuth is defined %}
AuthenticationUsePlainHttpAuth = {{item.value.AuthenticationUsePlainHttpAuth}}
AuthenticationHttpUser = {{item.value.AuthenticationHttpUser}}
AuthenticationHttpPass = {{item.value.AuthenticationHttpPass}}
{% endif %}
{% if consumer_AMS_enabled %}
AmsProject = {{item.value.AmsProject}}
AmsToken = {{item.value.AmsToken}}
{% endif %}
{% if item.value.jobs_all is defined %}
Jobs = {{ item.value.jobs_all }}
{% endif %}

{% if item.value.jobs_details is defined %}
{% for job in item.value.jobs_details %}
[{{job.name}}]
Dirname = {{job.Directory}}
Profiles = {{job.Profiles}}
TopoType = {{job.TopoType}}
TopoFeed = {{job.TopoFeed}}
TopoFeedPaging = {{job.TopoFeedPaging}}
TopoFetchType = {{job.TopoFetchType}}
TopoSelectGroupOfEndpoints = {{job.TopoSelectGroupOfEndpoints}}
TopoSelectGroupOfGroups = {{job.TopoSelectGroupOfGroups}}
DowntimesFeed = {{job.DowntimesFeed}}
PoemNamespace = {{job.PoemNamespace}}
PoemServerHost = {{job.PoemServerHost}}
PoemServerVO = {{job.PoemServerVO}}

{% endfor %}
{% endif %}


