############################################
# ARGO API methods
###########################################

## to fix timezone and avoid local one
user.timezone=UTC

### Generic Url Availability

api.group.availability=https://{{ argo_api_host }}/api/v2/results/
api.service.availability=https://{{ argo_api_host }}/api/v2/results/
api.output.details=https://{{ argo_api_host }}/api/v2/metric_result/

###Generic Url  STATUS

api.status.url=https://{{ argo_api_host }}/api/v2/status/


### Factors
api.custom.factors=https://{{ argo_api_host }}/api/v2/factors


### RECOMPUTATION

api.recomputation.url=https://{{ argo_api_host }}/api/v2/recalculate
api.recomputation.history.url=https://{{ argo_api_host }}/api/v2/get_recalculation_requests

### METRICS PROFILE
api.metrics.profile=https://{{ argo_api_host }}/api/v2/metric_profiles

### PROFILES

api.availabilities.profiles=http://argo.egi.eu/lavoisier/listProfilesRaw?accept=xml
api.aggregation_profiles=https://{{ argo_api_host }}/api/v2/aggregation_profiles

api.reports=https://{{ argo_api_host }}/api/v2/reports

####################
# MON.EGI.EU
#####################

api.monthly.sites.cern=http://mon.egi.eu/mywlcg/sam-pi/group_availability_in_profile/?profile_name=ROC_CRITICAL&vo_name=ops&group_type=Site&start_time=2014-05-01T00:00:00Z&end_time=2016-01-01T00:00:00Z&type=MONTHLY&output=xml
api.monthly.sites.argo=https://{{ argo_api_host }}/api/v2/group_availability?group_type=site&start_time=2014-05-01T10:00:00Z&end_time=2016-10-02T10:00:00Z&granularity=MONTHLY&output=XML&availability_profile=test-ap1

api.monthly.sites.cern.cloud=http://mon.egi.eu/mywlcg/sam-pi/group_availability_in_profile/?profile_name=CLOUD-MON&vo_name=ops&group_type=Site&start_time=2014-05-01T00:00:00Z&end_time=2016-01-01T00:00:00Z&type=MONTHLY&output=xml
api.monthly.sites.argo.cloud=https://{{ argo_api_host }}/api/v2/group_availability?group_type=site&start_time=2014-05-01T10:00:00Z&end_time=2016-10-02T10:00:00Z&granularity=MONTHLY&output=XML&availability_profile=egi-fedcloud


########################
# GOC DB
######################

{% if tenant_name is defined and tenant_name|lower == "eudat" %}
goc.siteProjects=https://{{ gocdb_endpoint }}/gocdbpi/private/?method=get_service_group
{% endif %}
goc.siteList=https://{{ gocdb_endpoint }}/gocdbpi/private/?method=get_site&certification_status={{ gocdb_certification }}&production_status={{ gocdb_production }}
goc.ngiContactsList=https://{{ gocdb_endpoint }}/gocdbpi/private/?method=get_roc_contacts
goc.serviceFlavours=https://{{ gocdb_endpoint }}/gocdbpi/public/?method=get_service_types
goc.hostList=https://{{ gocdb_endpoint }}/gocdbpi/public/?method=get_service
