# location of the caches for the data
cache.baseDirectory={{ cache_directory }}

# Certificate path and associated password (accepted formats p12 and pem)
certificate.password={{ certificate_password }}
certificate.path={{ certificate_path }}

# Path to the CA , used for ssl authentication
lavoisier.ssl.trustStore={{ truststore_path }}

# Path to the host certificate for the trusted authentication , could be the same value than certificate
lavoisier.ssl.keyStore={{ keystore_path }}
lavoisier.ssl.keyStorePassword={{ keystore_password }}


# Key used to interact with the ARGO API
argo.api.key={{ argo_api_key }}


# Host of the service, used to generate relative urls
server.baseUrl=http://{{ inventory_hostname }}

# Email contact used to send emails for recomputation
contact.email={{ contact_email }}
