{% if lavoisier_http_disable is defined %}
lavoisier.http.disable={{lavoisier_http_disable|lower}}
{% else %}
lavoisier.http.disable=false
{% endif %}
lavoisier.http.port={{lavoisier_http_port}}
lavoisier.https.port={{lavoisier_https_port}}



#javax.net.debug=ssl

### WORKAROUND FOR http://stackoverflow.com/questions/7615645/ssl-handshake-alert-unrecognized-name-error-since-upgrade-to-java-1-7-0
jsse.enableSNIExtension=false

lavoisier.resource.allow=security/lavoisier-resource-allow.txt
lavoisier.routes=lavoisier-routes.properties

#Duration of the HTTP session in seconds
lavoisier.session.timeout=600

jdk.tls.ephemeralDHKeySize={{tls_ephemeralDHKeySize}}

lavoisier.ssl.ciphers={{ssl_ciphers}}