[Unit]
Description=Apache Kafka service
Documentation=https://kafka.apache.org/22/documentation.html
Requires=zookeeper.service
After=syslog.target network.target remote-fs.target zookeeper.service
ConditionPathExists={{ kafka_root }}/config/server.properties

[Service]
Type=simple
User={{ kafka_user  }}
Group={{ kafka_group }}
SyslogIdentifier=kafka
LimitNOFILE=32768
Environment="LOG_DIR={{ kafka_logs }}"
Environment="KAFKA_HEAP_OPTS={{ kafka_heap_opts }}"
Environment="KAFKA_OPTS=-Djava.net.preferIPv4Stack=true"
ExecStart={{ kafka_root }}/bin/kafka-server-start.sh {{ kafka_root }}/config/server.properties
ExecStop={{ kafka_root }}/bin/kafka-server-stop.sh   {{ kafka_root }}/config/server.properties
#Restart=on-failure
SuccessExitStatus=0 143 SIGKILL

[Install]
WantedBy=multi-user.target
