<!DOCTYPE html>
<!-- saved from url=(0024)http://argoeu.github.io/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>ARGO Availability and Reliability Monitoring - ARGO Documentation</title>
  <link rel="alternate" type="application/atom+xml" title="API Changes" href="http://argoeu.github.io/changes.atom">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ARGO is a lightweight service for Service Level Monitoring designed for medium and large sized e-Infrastructures. ">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="ARGO Availability and Reliability Monitoring">
    <meta property="og:description" content="ARGO is a lightweight service for Service Level Monitoring designed for medium and large sized e-Infrastructures.">
    <meta property="og:url" content="http://argoeu.github.io/">
    <meta property="og:site_name" content="ARGO Documentation">
    <meta property="article:publisher" content="ARGO Team">
    <meta property="og:image" content="http://argoeu.github.io/shared/images/argo-logo.png">
  <meta name="author" content="">
  <link rel="icon" href="http://argoeu.github.io/shared/favicon.ico">
  <!-- Bootstrap core CSS -->
  <link href="./assets/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="./assets/font-awesome.min.css">
  <link rel="stylesheet" href="./assets/font-beba.css">
  <link href="./assets/custom.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="api" style="margin: 0px;">

  <!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="http://argoeu.github.io/index.html"><img src="./assets/argo-logo.png" alt="ARGO"></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-right">
		  	<li><a href="http://argoeu.github.io/"> Main Site</a></li>

		  </ul>
		</div><!--/.nav-collapse -->
	</div><!--container-->
</nav>


    <a id="what"></a>
    <div class="marketing" style="background-color:#f5f5f5;padding-top:10px;">
      <div class="container">
        <div class="row">
          <div class="fancy-header">
            <h1>ARGO APIs</h1>
            <p></p>
            <p class="lead">ARGO is a lightweight service for Service Level Monitoring designed for medium and large sized Research Infrastructures. <span style="color:#538bc6;font-weight:bold;text-transform: uppercase;">Interact</span> with the ARGO APIs in a sandbox like UI that gives clear insight into how the API responds to parameters and options</p>
          </div><!--fancy-header-->
        </div><!-- row -->
        <!-- Three columns of text below the carousel -->
        <div class="row">
        <div class="col-lg-2">
        </div>
          <div class="col-lg-3">
              <a href="https://{{inventory_hostname}}/argo-web-api">
              	<span ><img src="./assets/argo-web-ui.png" alt="ARGO" class="fa-grey"></span></a>
              <h2><a href="https://{{inventory_hostname}}/argo-web-api"> ARGO Web API</a></h2>
              <p> Swagger UI  with access to the ARGO web api.</p>
          </div><!-- /.col-lg-4 -->
       	  <div class="col-lg-3">
              <a href="https://{{inventory_hostname}}/argo-messaging">
              	<span ><img src="./assets/messaging-api.png" alt="ARGO" class="fa-grey"></span></a>
              <h2><a href="https://{{inventory_hostname}}/argo-messaging"> ARGO Messaging API</a></h2>
              <p>  Swagger UI  with access to the ARGO Messaging api.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
              <a href="https://{{inventory_hostname}}/argo-api-authn">
              	<span ><img src="./assets/argo-api-authN.png" alt="ARGO" class="fa-grey"></span></a>
              <h2><a href="https://{{inventory_hostname}}/argo-api-authn"> ARGO AUTH API</a></h2>
              <p>  Swagger UI  with access to the ARGO AUTH api.</p>
          </div><!-- /.col-lg-4 -->
 		 <div class="col-lg-2">
        </div>
         </div><!-- /.row -->
        <div class="row">&nbsp;<p>&nbsp;</p><p>&nbsp;</p></div>
        <div class="row">
        <div class="col-lg-2">
        </div>
          <div class="col-lg-3">
              <a href="http://argoeu.github.io/api/v2/" target="_blank">
              	<span ><img src="./assets/argo-web-mkdocs.png" alt="ARGO" class="fa-grey"></span></a>
              <h2><a href="http://argoeu.github.io/messaging/v1/"> ARGO Web API</a></h2>
              <p> Detailed documentation about the ARGO web api.</p>
          </div><!-- /.col-lg-4 -->
       	  <div class="col-lg-3">
              <a href="http://argoeu.github.io/messaging/v1/" target="_blank">
              	<span ><img src="./assets/messaging-api-mkdocs.png" alt="ARGO" class="fa-grey"></span></a>
              <h2><a href="http://argoeu.github.io/messaging/v1/"> ARGO Messaging API</a></h2>
              <p> Detailed documentation about the ARGO Messaging api.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
              <a href="http://argoeu.github.io/ams-library/" target="_blank">
              	<span ><img src="./assets/ams-library-docs.png" alt="ARGO" class="fa-grey"></span></a>
              <h2><a href="http://argoeu.github.io/ams-library/"> ARGO AMS Library</a></h2>
              <p>  Detailed documentation about the AMS Library</p>
          </div><!-- /.col-lg-4 -->
 		 <div class="col-lg-2">
        </div>
	<div class="row">
		<div class="col-lg-2">
		</div>
		<div class="col-lg-3">
			<a href="http://argoeu.github.io/poem/v1/" target="_blank">

				<span ><img src="./assets/poem-2.png" alt="ARGO" class="fa-grey"></span></a>

			<h2><a href="http://argoeu.github.io/poem/v1/"> POEM</a></h2>

			<p> Detailed documentation about POEM Component.</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-8">
		</div>
         </div><!-- /.row -->
        <div class="row">&nbsp;<p>&nbsp;</p><p>&nbsp;</p></div>
      </div><!--container -->
    </div><!-- marketing -->
  <!-- from -->
 

      </div>

<!--footer -->
    <footer id="footer" class="footer">
	<div class="footer_top">
	<div class="row ">
       </div>
       <div class="row ">

        <div class=" col-md-offset-1 col-md-3">
		<p><img src="./assets/argo-logo.png" alt="Argo"></p>
		<p>ARGO is a lightweight service for Service Level Monitoring designed for medium and large sized e-Infrastructures.
		Learn more: <a href='http://argoeu.github.io/' style='color:white;'>http://argoeu.github.io/</a></p>
   	</div>
	 <div class="col-md-offset-1 col-md-3">
		<h4>Contact Us</h4>
		<address>
 		<strong>Email</strong><br>
      <a href="mailto:argo-ops@lists.grnet.gr" style="color:white;">argo-ops[AT]lists.grnet.gr</a>
		</address>
   	</div>
 	<div class="col-md-3">
		<h4>Open development </h4>
    <p> We follow an open development process. All the repositories of ARGO are hosted on Github under the ARGOeu organization.</p>
   	</div>
    <div class="col-md-1"></div>
      </div>
      </div><!--footer_top-->
      <div class="footer_bottom_holder">
	<div class="footer_bottom">
    <div class="textwidget"><span>Copyright © 2014 - 2020 GRNET S.A. </span>
    </div>
  <div class="textwidget"><span>
      <a href="http://validator.w3.org/check?uri=referer" target="blank">
        <img src="./assets/validated.png" alt="HTML5 - CSS3 - W3C Validated" title="HTML5 - CSS3 - W3C Validated" height="30">
       </a>
    </span>
  </div>
	</div>
     </div>
    </footer>
    <a href="#" class="back-to-top" style="display: none; transition-property: all; transition-duration: 0s; transition-timing-function: ease;">
      <i class="fa fa-arrow-circle-up"></i>
    </a>
<!--/footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./assets/jquery.min.js"></script>
    <script src="./assets/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./assets/ie10-viewport-bug-workaround.js"></script>
</body></html>
