#!/bin/bash
#themiszamani@gmail.com

APP_NAME="{{MONGOBACKUP_APP_NAME}}"
MONGO_HOST="127.0.0.1"
MONGO_PORT="27017"
TIMESTAMP=`date +%F-%H%M`
MONGODUMP_PATH="/usr/bin/mongodump"
BACKUPS_DIR="/root/{{inventory_hostname}}-mongo-data/$APP_NAME"
BACKUP_NAME="$APP_NAME-$TIMESTAMP"

{% if 'msg-devel-' in inventory_hostname %}
mongodump --host ams01.priv:27017,ams02.priv:27017,ams03.priv:27017  --gzip --archive=$BACKUP_NAME
{% else %}
mongodump --host $MONGO_HOST:$MONGO_PORT --db $APP_NAME --gzip --archive=$BACKUP_NAME
{% endif %}
mkdir -p $BACKUPS_DIR
tar -zcvf $BACKUPS_DIR/$BACKUP_NAME.tgz $BACKUP_NAME
rm -rf $BACKUP_NAME