---
# defaults file for Apache Zookeeper


###############################################
# ~~~~~~~~~ Java - OpenJDK version  ~~~~~~~~~ #
###############################################

java_version: 1.8.0


###############################################
# ~~~~~~~~~~~~~~~~~ Firewall ~~~~~~~~~~~~~~~~ #
###############################################

firewall_services:
 - name: kafka
   port: 9092/tcp


###############################################
# ~~~~~~~~~~~~~~ Apache Kafka ~~~~~~~~~~~~~~~ #
###############################################

# Time in seconds to wait before starting Kafka Health Checks.
kafka_health_check_delay: 5

# Kafka & Scala version
## https://kafka.apache.org/downloads#2.2.1
## https://archive.apache.org/dist/kafka/2.2.1/kafka_2.12-2.2.1.tgz
kafka_version: 2.2.1
scala_version: 2.12


kafka_user: "kafka"
kafka_group: "kafka"

kafka_installation_dir: /etc
kafka_root: "{{ kafka_installation_dir }}/kafka"
kafka_port: 9092


# broker.id={{private.id}}
# kafka_broker_id: 0

# Default replication factors for automatically created topics
default_replication_factor: 2

#host.name={{private.hostname}}

# Separated list of kafka folders
kafka_log_dirs: "/var/lib/kafka" # Apache Kafka **data**
kafka_logs: "/var/log/apache/kafka"
kafka_conf_dir: "{{ kafka_root }}/config"

# Graceful shutdown
controlled_shutdown_enable: "true"

## kafka_id: 2
## kafka_hosts: "msg1.priv:9092,msg2.priv:9092,msg3.priv:9092"
## kafka_hosts: "{{ansible_fqdn}}:9092"
## kafka_listen_address: '{{current_priv}}'
## kafka_listen_address: '0.0.0.0'


kafka_num_network_threads: 2
kafka_num_io_threads: 2
kafka_num_partitions: 1

kafka_socket_send_buffer_bytes: 1048576
kafka_socket_receive_buffer_bytes: 1048576
kafka_socket_request_max_bytes: 104857600
kafka_log_flush_interval_messages: 10000
kafka_log_flush_interval_ms: 1000
kafka_log_retention_bytes: 104857600  #100 M
kafka_log_retention_hours: 24
kafka_log_segment_bytes: "{{kafka_log_retention_bytes}}"
kafka_log_cleanup_interval_mins: 1
kafka_heap_opts: "-Xmx1G -Xms1G"
kafka_log_level: WARN
kafka_auto_create_topics: "true"




