
{
  "bind_ip":"{{argo_msg_bind_ip}}",
  "port":{{argo_msg_port}},
  "zookeeper_hosts":[{%- for uri in zookeeper_hosts.split(',') %}{%if loop.index0 != 0 %},{%endif %}"{{uri}}"{%endfor %}],
  "kafka_znode":"{{argo_msg_kafka_znode}}",
  "store_host":"{{argo_msg_store_host}}",
  "store_db":"{{argo_msg_store_db}}",
  "certificate":"{{argo_msg_path}}/certs/localhost.crt",
  "certificate_key":"{{argo_msg_path}}/certs/localhost.key",
  "per_resource_auth":"{{argo_msg_per_resource_auth}}",
{% if argo_msg_service_token is defined %}  "service_token":"{{argo_msg_service_token}}",
{% endif %}
  "log_level":"{{argo_msg_log_level}}"
}
