{
  "bind_ip":{{argo_msg_bind_ip}},
  "port":{{argo_msg_port}},
  "broker_hosts":{{argo_msg_broker_hosts}},
  "store_host":{{argo_msg_store_host}},
  "store_db":{{argo_msg_store_db}},
  "certificate":"/etc/pki/tls/certs/localhost.crt",
  "certificate_key":"/etc/pki/tls/private/localhost.key"
}
