use argo_msg
db.roles.drop()
db.roles.insert([{"resource" : "topics:list", "roles" : [ "admin", "viewer" ] },
{"resource" : "topics:publish", "roles" : [ "admin" ] },
{"resource" : "topics:list", "roles" : [ "admin", "viewer" ] },
{"resource" : "topics:show", "roles" : [ "admin", "viewer" ] },
{"resource" : "topics:create", "roles" : [ "admin" ] },
{"resource" : "topics:delete", "roles" : [ "admin" ] },
{"resource" : "subscriptions:create", "roles" : [ "admin" ] },
{"resource" : "subscriptions:delete", "roles" : [ "admin" ] },
{"resource" : "subscriptions:list", "roles" : [ "admin","viewer" ] },
{"resource" : "subscriptions:show", "roles" : [ "admin","viwer" ] },
{"resource" : "subscriptions:acknowledge", "roles" : [ "admin" ] },
{"resource" : "subscriptions:show", "roles" : [ "admin" ] },
{"resource" : "subscriptions:pull", "roles" : [ "admin" ] },
{"resource" : "subscriptions:modifyPushConfig", "roles" : [ "admin" ] }])
