use argo_msg
db.roles.drop()
db.roles.insert([
{"resource" : "users:list", "roles" : [ "service_admin","project_admin" ] },
{"resource" : "users:show", "roles" : [ "service_admin","project_admin" ] },
{"resource" : "users:create", "roles" : [ "service_admin","project_admin" ] },
{"resource" : "users:update", "roles" : [ "service_admin","project_admin" ] },
{"resource" : "users:refreshToken", "roles" : [ "service_admin","project_admin" ] },
{"resource" : "users:delete", "roles" : [ "service_admin","project_admin" ] },
{"resource" : "projects:list", "roles" : [ "service_admin"] },
{"resource" : "projects:create", "roles" : [ "service_admin" ] },
{"resource" : "projects:show", "roles" : [ "service_admin","project_admin" ] },
{"resource" : "projects:update", "roles" : [ "service_admin","project_admin" ] },
{"resource" : "projects:delete", "roles" : [ "service_admin","project_admin" ] },
{"resource" : "topics:list", "roles" : ["project_admin", "admin", "viewer" ] },
{"resource" : "topics:publish", "roles" : [ "project_admin","admin" ] },
{"resource" : "topics:list", "roles" : [ "project_admin","admin", "viewer" ] },
{"resource" : "topics:show", "roles" : [ "project_admin","admin", "viewer" ] },
{"resource" : "topics:create", "roles" : [ "project_admin","admin" ] },
{"resource" : "topics:delete", "roles" : [ "project_admin","admin" ] },
{"resource" : "topics:acl", "roles" : [ "project_admin","admin" ] },
{"resource" : "topics:modifyAcl", "roles" : [ "project_admin","admin" ] },
{"resource" : "subscriptions:create", "roles" : [ "project_admin","admin" ] },
{"resource" : "subscriptions:delete", "roles" : ["project_admin", "admin" ] },
{"resource" : "subscriptions:list", "roles" : [ "project_admin","admin","viewer" ] },
{"resource" : "subscriptions:show", "roles" : [ "project_admin","admin","viwer" ] },
{"resource" : "subscriptions:acknowledge", "roles" : [ "project_admin","admin" ] },
{"resource" : "subscriptions:show", "roles" : [ "project_admin","admin" ] },
{"resource" : "subscriptions:pull", "roles" : [ "project_admin","admin" ] },
{"resource" : "subscriptions:acl", "roles" : [ "project_admin","admin" ] },
{"resource" : "subscriptions:modifyAcl", "roles" : [ "project_admin","admin" ] },
{"resource" : "subscriptions:modifyPushConfig", "roles" : [ "project_admin","admin" ] }
])
