{%- if zookeeper_id is defined -%}
{{ zookeeper_id }}
{% else %}
{# Old way - for backward compatibility reasons #}
{#
{%- elif zookeeper_hosts is defined -%}
  {%- for url in zookeeper_hosts.split(',') -%}
    {%- set url_host = url.split(':')[0] -%}
    {%- if url_host == AMSNAME or url_host in ansible_all_ipv4_addresses -%}
{{ loop.index0 }}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
#}
{# New way #}
{{ groups[cluster_group].index(inventory_hostname) + 1}}
{%- endif -%}
