# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

maxClientCnxns={{zookeeper_maxClientCnxns}}
# The number of milliseconds of each tick
tickTime={{zookeeper_tickTime}}
# The number of ticks that the initial
# synchronization phase can take
initLimit={{zookeeper_initLimit}}
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit={{zookeeper_syncLimit}}
# the directory where the snapshot is stored.
dataDir={{zookeeper_dataDir}}
# the port at which the clients will connect
clientPort=2181
# the directory where the transaction logs are stored.
dataLogDir={{zookeeper_data_logDir}}


{% for host in groups[cluster_group] %}
server.{{hostvars[host]['private']['id']}}={% if hostvars[host]['private']['ip'] is defined %}{{ hostvars[host]['private']['ip'] }}{% else %}{{ hostvars[host].ansible_default_ipv4.address }}{% endif %}:{{zookeeper_leaderPort}}:{{zookeeper_electionPort}}
{% endfor %}
