RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
RewriteRule ^/$ /nagios [R]

ScriptAlias /nagios/cgi-bin "/usr/lib64/nagios/cgi"

<Directory "/usr/lib64/nagios/cgi">
   SSLRequireSSL
   Options ExecCGI
   AllowOverride None
   Order allow,deny
   Allow from all
   AuthName "You must be member of the authorized VOs or have the appropriate GOCDB roles in order to access this service"
   AuthType Basic
   AuthUserFile /etc/nagios/htpasswd.users
   Require valid-user
   SSLOptions       	+FakeBasicAuth
</Directory>

Alias /nagios "/usr/share/nagios"

<Directory "/usr/share/nagios">
   SSLRequireSSL
   Options None
   AllowOverride None
   Order allow,deny
   Allow from all
   AuthName "You must be member of the authorized VOs or have the appropriate GOCDB roles in order to access this service"
   AuthType Basic
   AuthUserFile /etc/nagios/htpasswd.users
   Require valid-user
   SSLOptions       	+FakeBasicAuth
</Directory>
