{
"service_port": {{push_service_port}},
"certificate": "{{push_certificate}}",
"certificate_key": "{{push_certificate_key}}",
"certificate_authorities_dir": "{{push_certificate_authorities_dir}}",
"ams_token": "{{push_ams_token}}",
"ams_host": "{{push_ams_host}}",
"ams_port": {{push_ams_port}},
"verify_ssl": {{push_verify_ssl}},
"tls_enabled": {{push_tls_enabled}},
"trust_unknown_cas": {{push_trust_unknown_cas}},
"log_level": "{{push_log_level}}",
"skip_subs_load": {{push_skip_subs_load}},
"acl": {{push_acl}}
}
