[general]
SUPERUSER_NAME: {{ db_user }}
SUPERUSER_PASSWORD: {{ db_pass }}
SUPERUSER_EMAIL: {{ db_mail }}

[log]
LOG_CONFIG: /etc/poem/poem_logging.ini

[others]
POEM_NAMESPACE: {{ poem_namespace }}
GOCDB_SERVICETYPE_URL: https://{{ poem_gocdb_url }}/gocdbpi/private/?method=get_service_types
CIC_VO_URL: http://operations-portal.egi.eu/xml/voIDCard/public/all/true
HOST_CERT = /etc/grid-security/hostcert.pem
HOST_KEY = /etc/grid-security/hostkey.pem
DEBUG: {{ poem_debug }} 
SECRET_KEY: {{ poem_secret }}
TIME_ZONE: {{ poem_timezone }}
