[GENERAL]
Namespace = {{ poem_namespace }}                                                                                  
Debug = {{ poem_debug }} 
TimeZone = {{ poem_timezone }}
{% if SamlLoginString is defined %}
SamlLoginString = {{ SamlLoginString }}
{% else %}
SamlLoginString = Log in using EGI CHECK-IN
{% endif %}

[SUPERUSER]
Name =  {{ db_user }}
Password = {{ db_pass }}
Email = {{ db_mail }}

[SYNC]
ServiceType = {{ServiceType}}
##https://goc.egi.eu/gocdbpi/private/?method=get_service_types
VO = http://operations-portal.egi.eu/xml/voIDCard/public/all/true
{% if UsePlainHttpAuth is defined %}
UsePlainHttpAuth = {{ UsePlainHttpAuth }}
{% else %}
UsePlainHttpAuth = False
{% endif %}
{% if HttpUser is defined %}
HttpUser = {{ HttpUser }}
{% else %}
HttpUser = xxxx
{% endif %}
{% if HttpPass is defined %}
HttpPass = {{ HttpPass }}
{% else %}
HttpPass = xxxx
{% endif %}


[SECURITY]
AllowedHosts = {{ALLOWED_HOSTS}}
HostCert = {{cert_path}}
HostKey = {{cert_key_path}}
CAFile = {{cert_dir}}/DigiCertCA.crt
{% if ca_bundle %}
CAPath = /etc/grid-security/certificates/
{%endif%}
SecretKeyPath = /etc/poem/secret_key
