{% if httpd.global_conf is defined %}
  {{ httpd.global_conf | indent(width=2) }}
{% endif %}

<VirtualHost *:80>
  ServerName {{ inventory_hostname }}
  Redirect permanent / https://{{ inventory_hostname }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ inventory_hostname }}

  SSLEngine on
  SSLCertificateFile {{cert_path}}
  SSLCertificateKeyFile {{cert_key_path}}
{% if is_chain_file %}
  SSLCertificateChainFile {{ca_path}}/chain-{{inventory_hostname}}.pem
{% endif %}

{% if httpd.extra_conf is defined %}
  {{ httpd.extra_conf | indent(width=2) }}
{% endif %}

{% if httpd.rev_proxy is defined %}
  ProxyPass / http://{{httpd.rev_proxy.ip}}:{{httpd.rev_proxy.port}}/
  ProxyPassReverse / http://{{httpd.rev_proxy.ip}}:{{httpd.rev_proxy.port}}/
{% endif %}

{% if httpd.static_dir is defined %}
  DocumentRoot {{httpd.static_dir}}
{% endif %}

</VirtualHost>