[gocdb]
api={{item.value.contact_api_endpoint}}
cabundle=/etc/grid-security/certificates
hostcert=/etc/grid-security/hostcert.pem
hostkey=/etc/grid-security/hostkey.pem
verify=False

[kafka]
endpoint={{argo_alert_kafka}}
topic=alerta.{{item.key}}

[alerta]
endpoint=http://alerta-devel.argo.grnet.gr:8080
environment={{item.key}}
token={{argo_alert_token}}
mail-rules=/etc/argo-alert/mail-rules/mail-{{item.key}}.json

[logging]
level=INFO
