[gocdb]
auth_method={{item.value.gocdb_auth_method}}
api={{item.value.gocdb_api_endpoint}}
cabundle={{ca_bundle}}
hostcert={{cert_path}}
hostkey={{cert_key_path}}
verify={{item.value.gocdb_verify}}
username={{gocdb_bauth_username | default("")}}
password={{gocdb_bauth_password | default("")}}
use_notifications_flag={{item.value.gocdb_notification_flag}}
top_request={{item.value.gocdb_top_request}}
sub_request={{item.value.gocdb_sub_request}}

[kafka]
endpoint={{argo_alert_kafka}}
topic=alerta.{{item.key}}

[alerta]
endpoint=https://{{alerta_www_alias}}/api
environment={{item.value.alerta_environment}}
token={{alerta_token}}
mail-rules=/etc/argo-alert/mail/mailer-{{item.key}}.conf.rules.d/rules-{{item.key}}.json
extra-emails={{item.value.alert_extra_emails}}
alert-timeout = {{item.value.alert_timeout}}
group-type = {{item.value.alert_group}}
ui_endpoint = {{item.value.ui_endpoint}}

[logging]
level = INFO
