<VirtualHost *:80>

    ServerName {{www_url}}
    ServerAlias {{www_alias}}
    DocumentRoot {{ alerta_dashboard_dir }}/app
    ErrorLog {{ alerta_dashboard_dir }}/error.log
    CustomLog {{ alerta_dashboard_dir }}/requests.log combined
    WSGIDaemonProcess alerta processes=5 threads=5
    WSGIProcessGroup alerta
    WSGIApplicationGroup %{GLOBAL}
    WSGIScriptAlias /api {{ alerta_wsgi_root_dir }}/api.wsgi
    WSGIPassAuthorization On
    <Directory {{ alerta_server_dir }}>
      Require all granted
    </Directory>
</VirtualHost>
