export const myConfig = {
  superAdmin: '{{metrics_ui_superadmin_key}}',
  projectAdmin: '{{metrics_ui_projectadmin_key}}',
  publisher:'{{metrics_ui_publisher_key}}',
  consumer: '{{metrics_ui_consumer_key}}',
  apiUrl: '{{metrics_ui_apiurl}}',
  usersUrl: '{{metrics_ui_usersurl}}',
  projectsUrl: '{{metrics_ui_projectsurl}}',
  metricsUrl: '{{metrics_ui_metricsurl}}'
};
