<handler APEL>
  class = GridMon::MsgHandler::MetricOutput
  <instance>
    SOURCE = local
    CACHE_DIR = /var/spool/argo-msg-nagios/incoming
  </instance>
  <subscribe>
    destination = "/queue/Consumer.{{ nagios_role }}_{{ nagios_server|replace(".","_") }}.grid.accounting.test.apel.*"
  </subscribe>
</handler>
