# Configuration file for argo-msg-cache.

# Maintaining the Broker Cache File requires the end point of the information
# system.

# We support a ',' delimited list as lcg-utils does.

# LCG_GFAL_INFOSYS=bdii.example.org:2170
LCG_GFAL_INFOSYS={% for bdii in lcg_gfal_infosys %}{{ bdii }}{% if not loop.last %},{% endif %}{% endfor %}

# BROKER_NETWORK=PROD
BROKER_NETWORK={{ broker_network }}