# Configuration uses Apache-like format
# as defined by Perl module Config::General.
# For further details see:
#   http://search.cpan.org/dist/Config-General/

# Global variables which can be used in module
# configuration (e.g. LDAP_ADDRESS=$BDII).
# Variables in curly brackets are environment
# variables.

NAGIOS_SERVER = {{ nagios_server }}
PROBES_TYPE= {{ probes_type }}
NAGIOS_ADMIN = {{ nagios_admin_email }}
VO = {{ vo }}
ENABLE_UNICORE_PROBES= {{ enable_unicore_probes }}
METRIC_CONFIG_FILE = {{ metric_config_file }}
BACKUP_INSTANCE = {{ backup_instance }}

<NCG::SiteSet>
  <GOCDB>
    GOCDB_ROOT_URL={{ gocdb_root_url }}
    CERT_STATUS={{ cert_status }}
  </GOCDB>
</NCG::SiteSet>
<NCG::SiteInfo>
  <GOCDB>
    GOCDB_ROOT_URL={{ gocdb_root_url }}
  </GOCDB>
</NCG::SiteInfo>

<NCG::ConfigGen>
  <Nagios>
    TEMPLATES_DIR = /usr/share/grid-monitoring/config-gen/nagios
    OUTPUT_DIR = /etc/nagios/wlcg.d
    NRPE_OUTPUT_DIR = /etc/nagios/nrpe/
    NAGIOS_ROLE = {{ nagios_role }}
    INCLUDE_EMPTY_HOSTS = {{ include_empty_hosts }}
    ENABLE_NOTIFICATIONS = {{ enable_notifications }}
    CHECK_HOSTS = {{ check_hosts }}
    TENANT = {{ tenant_name }}
  </Nagios>
</NCG::ConfigGen>

<NCG::LocalMetrics>
  <POEM>
    POEM_ROOT_URL = {{ poem_root_url }}
  </POEM>
  <File>
    DB_FILE=/etc/ncg/ncg.localdb
  </File>
</NCG::LocalMetrics>

<NCG::LocalMetricsAttrs>
  <Active>
    GOCDB_ROOT_URL={{ gocdb_root_url }}
    ENABLE_UNICORE_PROBES=$ENABLE_UNICORE_PROBES
    INCLUDE_PROXY_CHECKS = {{ include_proxy_checks }}
    INCLUDE_MSG_CHECKS_RECV = {{ include_msg_checks_recv }}
  </Active>
  <File>
    DB_FILE=/etc/ncg/ncg.localdb
  </File>
</NCG::LocalMetricsAttrs>

include ncg.conf.d/*.conf

