# Configuration uses Apache-like format
# as defined by Perl module Config::General.
# For further details see:
#   http://search.cpan.org/dist/Config-General/

# Global variables which can be used in module
# configuration (e.g. LDAP_ADDRESS=$BDII).
# Variables in curly brackets are environment
# variables.

NAGIOS_SERVER = {{ nagios_server }}
NAGIOS_ADMIN = {{ nagios_admin_email }}
VO = {{ vo }}
ENABLE_UNICORE_PROBES= {{ enable_unicore_probes }}
MYPROXY_SERVER = {{ myproxy_server }}

<NCG::SiteSet>
  <GOCDB>
    GOCDB_ROOT_URL={{ gocdb_root_url }}
    ENABLE_UNICORE_PROBES=$ENABLE_UNICORE_PROBES
  </GOCDB>
  <File>
    DB_FILE=/etc/argo-ncg/ncg.localdb
    DB_DIRECTORY=/etc/argo-ncg/ncg-localdb.d
  </File>
</NCG::SiteSet>
<NCG::SiteContacts>
  <GOCDB>
    GOCDB_ROOT_URL={{ gocdb_root_url }}
  </GOCDB>
  <GOCDB>
    CONTACT_TYPE=alarm
    GOCDB_ROOT_URL={{ gocdb_root_url }}
  </GOCDB>
  <GOCDB>
    CONTACT_TYPE={{ contact_type }}
    GOCDB_ROOT_URL={{ gocdb_root_url }}
  </GOCDB>
  <File>
    DB_FILE=/etc/argo-ncg/ncg.localdb
    DB_DIRECTORY=/etc/argo-ncg/ncg-localdb.d
  </File>
</NCG::SiteContacts>

<NCG::SiteInfo>
  <GOCDB>
    GOCDB_ROOT_URL={{ gocdb_root_url }}
  </GOCDB>
  <File>
    DB_FILE=/etc/argo-ncg/ncg.localdb
    DB_DIRECTORY=/etc/argo-ncg/ncg-localdb.d
  </File>
</NCG::SiteInfo>

<NCG::LocalMetricsAttrs>
  <Active>
    GOCDB_ROOT_URL={{ gocdb_root_url }}
    ENABLE_UNICORE_PROBES=$ENABLE_UNICORE_PROBES
    BDII_HOST={{ bdii_host }}
    INCLUDE_PROXY_CHECKS = {{ include_proxy_checks }}
  </Active>
  <LDAP>
    LDAP_ADDRESS={{ bdii_host }}
    BDII_LEVEL={{ bdii_level }}
  </LDAP>
  <File>
    DB_FILE=/etc/argo-ncg/ncg.localdb
    DB_DIRECTORY=/etc/argo-ncg/ncg-localdb.d
  </File>
</NCG::LocalMetricsAttrs>

<NCG::ConfigGen>
  <Nagios>
    NAGIOS_ROLE = {{ nagios_role|lower }}
    INCLUDE_EMPTY_HOSTS = {{ include_empty_hosts }}
    ENABLE_NOTIFICATIONS = {{ enable_notifications }}
    SEND_TO_DASHBOARD = {{ send_to_dashboard }}
    CHECK_HOSTS = {{ check_hosts }}
    TENANT = {{ tenant_name|lower }}
  </Nagios>
</NCG::ConfigGen>

<NCG::LocalMetrics>
  <File>
    DB_FILE=/etc/argo-ncg/ncg.localdb
    DB_DIRECTORY=/etc/argo-ncg/ncg-localdb.d
  </File>
  <POEM>
    POEM_ROOT_URL = {{ poem_root_url }}
    POEM_PROFILES = {% for poem in poem_profiles %}{{ poem|upper }}{% if not loop.last %},{% endif %}{% endfor %}

  </POEM>
</NCG::LocalMetrics>

include ncg.conf.d/*.conf
