[AMS]

# under which ams project, the users will be created
ams_project: {{ams.project}}

# goc db url to pull user data
goc_db_host: {{ams.goc_db_host}}

# service types referes to the different service types that will we should keep from the xml and assign them to the respectivew ams topic
service-types: {{ams.service_types}}

# ams use role
users_role: {{ams.users_role}}

# token to access ams
ams_token: {{ams.token}}

# ams url
ams_host: {{ams.host}}

# ams user email
ams_email: {{ams.email}}

[AUTHN]

# token to access authn
authn_token: {{authn.token}}

# authn url to create bindings
authn_host: {{authn.host}}

# service's uuid where bindings will belong
service_uuid: {{authn.service_uuid}}

# service's host where bindings will belong
service_host: {{authn.service_host}}

[LOGS]
syslog_socket: {{logs.syslog_socket}}
