127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host_priv in hosts_priv %}
{{host_priv.address}} {{host_priv.alias}}
{% endfor %}
